/* Global Styles */

:root {
  --CTAColor: #6a0500;
  --CTAHover: #7fd1ae;
  --primaryLight: #cdc4b5;
  --primaryDark: #2d271b;
  --primaryDarkOpacity02: rgba(45, 39, 27, 0.2);
  --primaryDarkOpacity08: rgba(45, 39, 27, 0.8);
  --secondaryLight: #56b5bd;
  --tertiaryLight: #b38ab2;
  --neutralColor: #fff;
  --greyColor: #677372;
  --darkColor: #0c0c0c;
  --shadowDark: 3px 3px 15px rgba(0, 0, 0, 0.2);
  --shadowWhite: 3px 3px 15px rgba(255, 255, 255, 0.8);
  --shadowGreen: 3px 3px 15px var(--CTAHover);
  --tenPlus1: calc(10px + 1vmin);
  --spacer1rem: 1rem;
  --spacer2rem: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: calc(20px + 4vmin);
  font-weight: bolder;
}

h2 {
  font-size: calc(18px + 3vmin);
  font-weight: bolder;
}

h3 {
  font-size: calc(12px + 2vmin);
  font-weight: bolder;
}

p {
  font-size: calc(10px + 1vmin);
  color: var(--greyColor);
}

a {
  text-decoration: underline;
  text-decoration-color: var(--CTAColor);
  text-underline-position: under;
  color: var(--darkColor);
}

a:hover {
  color: var(--CTAHover);
}

header {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  /* padding-bottom: 10vh; */
}

footer {
  width: 100vw;
  height: auto;
  background-color: var(--primaryDark);
  display: grid;
  place-items: center;
  margin-top: 10vh;
}
/* End Global Styles */
/* Component Styles */

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 80vw;
  }
}

.divider--white {
  border: 2px solid var(--neutralColor);
  margin: 1rem auto;
}

.text-start {
  text-align: start;
}

.text-shadow--dark {
  text-shadow: var(--shadowDark);
}

.font-white {
  color: var(--neutralColor);
}

.font-dark {
  color: var(--darkColor);
}

.border-shadow--dark {
  box-shadow: var(--shadowDark);
}

/* End Component Styles */
